[defaults]
inventory = inventory/hosts.ini
deprecation_warnings = False
host_key_checking = False
ansible_python_interpreter=auto
remote_user=ssh_username
private_key_file=ssh_key_path

[inventory]
enable_plugins = google.cloud.gcp_compute, ini, yaml, auto